@{
    ViewBag.Title = "Home";
}

<div class="d-flex justify-content-center align-items-center">
    <section class="text-center">
        <h1 class="display-3"><strong>Student Management System</strong></h1><br />
        <p class="lead">INDIVIDUAL TEST 1 - .NET MVC</p>
        <p class="lead">CHEN PYNG HAW A22EC0042</p>
    </section>
</div>
